.rsvpStage{
    position:relative;
    z-index:510;
    padding-bottom: 200px;
}

.rsvpSheet{
    height:0;
    overflow-y:hidden;
    transition:height 2s ease-in-out;
}

.formHold{
    padding: 2px 0;
}

.hide{
    opacity:0;
    pointer-events:none;
}

.formCell{
    padding: 20px;
}
.submit{
    cursor: pointer;
}

.guestSelect{width:45px;height:20px;padding-top:4px;
    overflow:hidden;display:block} 

    .tNews.pSmall{display:block; width:50px;}


.invLogo{
    width: 50%;
    height:auto;
}

.sealHold{
    width: 20%;
    position:absolute;
    top:var(--sm);
    right: var(--sm);
}
.invBuff{
    opacity:0;
    pointer-events: none;
}
button{
    font-size:1em;
    background-color:transparent;
}
@media all and (max-width: 900px){
    .rsvpSheet{width:90%;}
    .rsvpTop{font-size:24vw;}
    .cosInfo .colTwoThirds{width:100%;}
}
@media all and (max-width: 700px){
    .rsvpStage{padding-bottom: 360px;
    }
}

@media all and (max-width: 680px){
    .rsvpSubHold {padding-left: 40px;
    }
}