doctype
html
    head
        meta(charset="UTF-8")
    header
        title Wille's Tin Shop: #{page}
    Body.fullHeight(style="background-color: #ffffff; font-family: Courier, monospace;font-size: 11pt; line-height: 1.4em; width: 100%; color: #ffffff;margin:0;padding:0;display:block;box-sizing:border-box;")
        #mainPage.fullWidth.fullHeight(style="width: 100%")
            block content
            br
            footer
                
