.nav{
    background: url('/images/button-info.svg') 0 0 no-repeat;
    width:40px;
    height:50px;
    z-index:999;
    position:fixed;
    right: 5vw;
    top: 5vw;
    cursor: pointer;

}
.bgVid{
   z-index: 0;
}

.bgVid video{
    width:100%;
    height:100%;
    object-fit: cover;
}

.footer{
    position: fixed;
    bottom: 0;
    z-index: 999;
}

.logoHold{
    z-index: 500;
}

.infoHold{
    z-index: 600;
    opacity: 0;
    pointer-events: none;
    transition: all 1s ease-in-out;
}

.infoHold.active{
    opacity:1;
    pointer-events: all;
}

.iconHold img{
    height:auto;
}


@media all and (max-width:700px){
   
    .logoHold{pointer-events: none;padding-bottom:var(--huge)}
    .goodSpiritsHold{margin-top:var(--med);margin-bottom:var(--med)}
    .goodSpiritsHold img{width:45%}
    .footerFlex{justify-content: center;}
    .iconHold{width:65%;margin-bottom:var(--sm)}
    .address{width:100%;margin-bottom:var(--sm)}
    .address p{text-align: center;}
    .textHold .info{width: 100%;}
  }

