#appContain{
    overflow-x:hidden;
}
.nav, .mobileButton{
    position: fixed;
    top:var(--sm);
    right:var(--med);
    z-index: 999;
}
.bgVid{
   z-index: 0;
}

.bgVid video, .productVid video{
    width:100%;
    height:100%;
    object-fit: cover;
}

.smallLogo{
    transition:all 1s ease;
    opacity:0;
    width:130px;
    position:fixed;
    top:var(--med);
    left:var(--med);
    z-index:999;
}

.smallLogo.activeLogo{
    opacity:1;
}
.footerHold{
    pointer-events: none;
    position: absolute;
    z-index:999;
    top:0;
    left:0;
    transition: .75s all ease-out;
}
.footer{
    position: absolute;
    bottom: 0;
    z-index: 999;
    pointer-events: fill;
}

.logoHold{
    z-index: 500;
}

.infoHold{
    z-index: 651;
    opacity: 0;
    pointer-events: none;
    transition: all 1s ease-in-out;
}

.infoHold.active{
    opacity:1;
    pointer-events: all;
}

.iconHold img{
    height:auto;
}

.newsHold{
    z-index:650;
    background-color: transparent;
    position: fixed;
    top: var(--sm);
    width:150px;
    height:150px;
    margin-left:2.5vw;
    border-radius: 100%;
    overflow: hidden;
    transition: all .5s ease-in;
    transform-origin: center center;
    cursor: pointer;
}



.newsHold:hover{
    width:200px;
    height:200px;
    background-color: var(--white);
}

.newsHold:hover .newsAlert{
    opacity:0;
    transition: opacity .5s ease-out;
}
.newsAct .newsHold{
    background-color: var(--white);
    border:none;
    cursor:default;
    width:95vw;
    margin-top:var(--huge);
    top:0;
    left:0;
    height:auto;
    overflow-y:auto;
    overflow-x:hidden;
    border-radius:0;
    position:relative;
    transform-origin: top left;
    padding-bottom: 160px;

}

.newsAct{
    padding-right: 5vw;
    padding-bottom: 2.5vw;
}

.newsContent{
    opacity:0;
    transition: opacity .5s ease-out;
    width:100vw;
    margin-left:-2.5vw;
    height:auto;
}

.newsAct .newsContent, .newsHold:hover .newsContent{
    opacity:1}

.condenseStage{
    position: absolute;
    top:0;
    height:100%;
    overflow: hidden;
}

.inverse .footerHold p {
    color: var(--rust)
}

.inverse .footer .bWhite{
border: none;
} 

.inverse .footer{
    
    bottom: 2.5vw;
}

.newsBorder{
    position: absolute;
    top:0;
    left:0;
}



.mobileMenu{
    position:fixed;
    top:0;
    left:0;
    z-index: 900;
    transition: opacity .5s ease-in;
    pointer-events: none;
    opacity:0;
}

.active.mobileMenu{
    opacity:1;
    pointer-events: fill;
    
}

.currentPage{
    color: var(--rust)
}

.currentPage.shopLink, .currentPage.spiritsLink{
    color: var(--blue);
}

.mobileMenu .currentPage.shopLink, .mobileMenu .currentPage.spiritsLink{
    color: var(--rust);
}

.newsOff{
    mix-blend-mode: difference;
    position:fixed;
    top:var(--med);
    left:var(--sm);
    z-index: 999;
    width:60px;
}

.backBut:hover{
    animation: point 2s infinite ease-in-out;
}

@media all and (max-width:1000px){
    .infoHold .flex{display:block;position:relative;transform:none;top:0;left:0;}
    .goodSpiritsHold{width: 40vw; margin-bottom:var(--med);}
    .textHold{width:90%; padding-top:0;}
    .textHold .info{width: 60%;}
}

@media all and (max-width:900px){
   .logoHold .col23{width:100%;}
   .newsBody{display:block;}
   .newsBody .col23{width:100%; margin-bottom:var(--med);}
   .newsBody .col13{width:100%;} 
   .newsAct .newsHold{padding-bottom: 100px;}
  }


@media all and (max-width:700px){
    .smallLogo{width:85px;}
    .logoHold{pointer-events: none;padding-bottom:var(--huge)}
    .goodSpiritsHold{width:60vw;margin-bottom:var(--sm);margin-top:var(--sm)}
    /* .goodSpiritsHold img{width:45%} */
    .footerFlex{justify-content: center;}
    .iconHold{width:70%;margin-bottom:var(--sm)}
    .address{width:100%;margin-bottom:var(--sm)}
    .address p{text-align: center;}
    .textHold .info{width: 100%;}
    .infoHold{padding-top:var(--lrg)}
    .newsAct .newsHold{padding-bottom: 300px;}
    
  }
  @media all and (max-width:600px){
    .mobileMenu .centeredContent{
        transform:translate(-50%, -65%)
    }
    
  }
